- title "Workout"
.row
  .span12
    .left.btn-header
      = link_to "All Workouts", workouts_path, :class => "btn btn-large"
      = link_to "Edit", edit_workout_path(@workout), :class => "btn btn-large"
    .right
      = link_to "Add Score", new_workout_score_path(@workout), :class => "btn btn-large btn-primary"
-unless @workout.name.empty?
  .row
    .span12
      %h2= @workout.name
.row
  .span12
    %p= simple_format @workout.workout
- unless @workout.scores.count.eql? 0
  %table.table.table-bordered.table-striped
    %colgroup
      %col.span3
      %col.span9
    %thead
      %th Completed
      %th Score
    %tbody
      - for score in @workout.scores
        %tr
          %td= score.created_at.to_s(:long)
          %td= simple_format score.score