- title "Search: #{@search}"
%section#workouts
  .row
    .span12
      .btn-header
        = link_to "Workouts", workouts_path, :class => "btn btn-primary btn-large"
  .row
    .span12.text-align-center
      = will_paginate @workouts
  - for workout in @workouts
    .workout
      .row
        .span10
          %h2= workout.name.empty? ? workout.created_at.to_s(:long) : workout.name
          - unless workout.name.empty?
            %h4= workout.created_at.to_s(:long)
        .span2
          .btn-group.right
            %a.btn.btn-primary{:href => new_workout_score_path(workout)}
              Add Score
            %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.caret
            %ul.dropdown-menu.pull-right
              %li= link_to "View Workout", workout
              %li= link_to "Edit Workout", edit_workout_path(workout)
      .row
        .span12
          = simple_format workout.workout