- title "Score"
%p
  %strong Workout:
  = @score.workout_id
%p
  %strong Score:
  = @score.score
%p
  = link_to "Edit", edit_score_path(@score)
  |
  \#{link_to "Destroy", @score, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", scores_path}
