!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "TrailheadWOD", root_path, :class => "brand"
          %ul.nav.pull-right
            - if user_signed_in?
              %li= link_to "Workouts", workouts_path
              %li= link_to "Profile", edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign In", new_user_session_path
              %li= link_to "Register", new_user_registration_path
    .container
      %section#header
        .row
          .span12
            .page-header
              %h1= content_for?(:title) ? yield(:title) : "Untitled"
      %section#messages
        .row
          .span12
            - flash.each do |name, msg|
              - name = :success if name.eql? :notice
              - name = :error if name.eql? :alert
              %div{:class => "alert alert-#{name}"}
                %button.close{"data-dismiss" => "alert", :type => "button"}×
                %div= msg
      = yield
